.video-player-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Set a max-width as per your requirement */
    margin: 0 auto;
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .controls button {
    color: white;
    font-size: 24px;
    margin-right: 15px;
  }
  
  .controls .MuiSlider-root {
    width: 300px;
  }
  
  .controls .MuiSlider-root .MuiSlider-thumb {
    background-color: white;
  }

  .video {
    width: 40%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
  }